.Settings{
    position: absolute;
    height: 80%;
    width:40%;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,7,46,1) 55%, rgba(5,111,188,1) 63%, rgba(4,132,202,1) 74%, rgba(0,212,255,1) 75%, rgba(9,9,121,1) 100%);
    border: 2px solid black;
    z-index: 1;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.setContent{
    color: white
}

.set-button{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: rgba(42, 42, 180, 0.945);
}

.set-button:hover{
    filter: brightness(1.15);
}

.tab{
    border: 2px solid darkblue;
}

@media screen and (max-width: 1024px) {
    .Settings{
        font-size: 100%;
    }
}

@media screen and (max-width: 950px) {
    .Settings{
        font-size: 60%;
    }

}


@media screen and (max-width: 650px) {
    .Settings{
        font-size: 40%;
    }


}

@media screen and (max-width: 480px) {
    .Settings{
        font-size: 30%;
    }

}